<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header.ejs') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- include('layouts/navigation.ejs') %>
    <%- include('layouts/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Camera
                <small>list images</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">Camera</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row" id="images-container">

            </div>
        </section>
        <!-- /.content -->
    </div>

    <%- include('layouts/footer.ejs') %>
    <%- include('layouts/control-sidebar.ejs') %>
</div>
<!-- ./wrapper -->
<%- include('layouts/js.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>
<script src="/js/camera.js"></script>
</body>
</html>
