<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/header.ejs') %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include('layouts/navigation.ejs') %>
      <%- include('layouts/sidebar.ejs') %>
      <%- include('layouts/content-wrapper.ejs') %>
      <%- include('layouts/footer.ejs') %>
      <%- include('layouts/control-sidebar.ejs') %>
    </div>
    <!-- ./wrapper -->
    <%- include('layouts/js.ejs') %>
  </body>
</html>
